<article id="chinelo<%= chinelo.id %>" data-exclusiva="<%= chinelo.exclusiva ? `sim` : `não` %>">
  <h3 style="border-bottom: 2px solid <%= chinelo.cor %>;color: <%= chinelo.cor %>"><%= chinelo.marca %></h3>
  <div>
    <p>Ano: <%= chinelo.ano %></p>
  </div>
</article>