<article id="chinelo<%= produto.id %>" data-exclusiva="<%= produto.exclusiva ? `sim` : `não` %>">
  <h3 style="border-bottom: 2px solid <%= produto.cor %>;color: <%= produto.cor %>"><%= produto.marca %></h3>
  <div>
    <p>Ano: <%= produto.ano %></p>
  </div>
</article>